
.loading {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    & > div {
        height: 30px;
        display: flex;
        align-items: flex-end;
        gap: 3px;
        & > div {
            width: 3px;
            height: 0px;
            animation: f  400ms linear infinite alternate;
            background-color: $spotify-green-color;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    animation-delay: $i * 100ms;
                }
            }
            &:nth-child(2n+1) {
                animation-duration: 250ms;
                animation-name: h;
            }
        }
        

    }
}

@keyframes f {
    100% {
        height:  80%;
    }
}
@keyframes h {
    from {
        height: 5%;
    }
    to {
        height: 100%;
    }
}
